 .formContact {
 	margin: 5px auto;
 }
 .input_box {
	padding-left: 5px;
}
.formContact input,  select{
	width: 260px;
	height: 50px;
	margin: 5px auto;	
	padding: 10px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 0;
}

.formContact textarea {
	padding: 10px;	
	width: 100%;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 0;
}

@media screen and (max-width: 900px){
	.formContact {
	 	margin: 10px;
	 	width: 100%;
	}
	.formContact input {
		margin-bottom: 2px;
		width: 425px;
	}

}
@media screen and (max-width: 800px){
	.formContact input {
		margin-bottom: 2px;
		width: 390px;
	}
}


@media screen and (max-width: 780px){

	.formContact input {
		margin-bottom: 2px;
		width: 375px;
	}
}

@media screen and (max-width: 600px){
	.formContact input {
		margin-bottom: 2px;
		width: 290px;
	}
}

@media screen and (max-width: 425px){
	.formContact {
	 	margin: 2px;
	 	
	}
	.formContact input {
		margin-bottom: 2px;
		width: 205px;
	}
}

@media screen and (max-width: 415px){
	.formContact {
	 	margin: 1px;
	 	
	}
	.formContact input {
		margin-bottom: 2px;
		width: 200px;
	}
}

@media screen and (max-width: 375px){
	.input_box {
		padding-left: 0;
	}
	.formContact input {
		margin-bottom: 2px;
		width: 360px;
	}
}

@media screen and (max-width: 325px){
	.formContact input {
		margin-bottom: 2px;
		width: 310px;
	}
}
